<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<p>name：<%= user.name %></p>
<p>introduction：<%= user.introduction %></p>
<% if user.id == current_user.id %>
  <p><%= link_to "User edit!", edit_user_path(user) %></p>
<% end %>